[submodule "third_party/progprompt-vh"]
	path = third_party/progprompt-vh
	url = https://github.com/NVlabs/progprompt-vh.git
	ignore = untracked
[submodule "third_party/virtualhome"]
	path = third_party/virtualhome
	url = https://github.com/xavierpuigf/virtualhome.git
	ignore = untracked
